:root {
	--rosado: #ff76cd;
	--blanco: #fff;
	--gris: #5858588c;
	--negro: #000;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Mabry Pro';
}
body {
	background-color: var(--blanco);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
button {
	position: relative;
	padding: 12px 35px;
	background: var(--rosado);
	font-size: 17px;
	font-weight: 500;
	color: var(--negro);
	border: 3px solid var(--rosado);
	border-radius: 8px;
	box-shadow: 0 0 0 var(--gris);
	transition: all 0.3s ease-in-out;
	cursor: pointer;
}
.heart-1 {
	position: absolute;
	top: 20%;
	left: 20%;
	width: 25px;
	height: auto;
	filter: drop-shadow(0 0 0 var(--rosado));
	z-index: -2;
	transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}
.heart-2 {
	position: absolute;
	top: 45%;
	left: 45%;
	width: 15px;
	height: auto;
	filter: drop-shadow(0 0 0 var(--rosado));
	z-index: -2;
	transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}
.heart-3 {
	position: absolute;
	top: 40%;
	left: 40%;
	width: 5px;
	height: auto;
	filter: drop-shadow(0 0 0 var(--rosado));
	z-index: -2;
	transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}
.heart-4 {
	position: absolute;
	top: 20%;
	left: 40%;
	width: 8px;
	height: auto;
	filter: drop-shadow(0 0 0 var(--rosado));
	z-index: -2;
	transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
}
.heart-5 {
	position: absolute;
	top: 25%;
	left: 45%;
	width: 15px;
	height: auto;
	filter: drop-shadow(0 0 0 var(--rosado));
	z-index: -2;
	transition: all 0.6s cubic-bezier(0, 0.4, 0, 1.01);
}
.heart-6 {
	position: absolute;
	top: 5%;
	left: 50%;
	width: 5px;
	height: auto;
	filter: drop-shadow(0 0 0 var(--rosado));
	z-index: -2;
	transition: all 0.8s ease;
}
button:hover {
	background: transparent;
	color: var(--rosado);
	box-shadow: 0 0 25px var(--gris);
}
button:hover .heart-1 {
	position: absolute;
	top: -80%;
	left: -30%;
	width: 25px;
	height: auto;
	filter: drop-shadow(0 0 10 var(--rosado));
	z-index: 1;
}
button:hover .heart-2 {
	position: absolute;
	top: -25%;
	left: 10%;
	width: 15px;
	height: auto;
	filter: drop-shadow(0 0 10 var(--rosado));
	z-index: 1;
}
button:hover .heart-3 {
	position: absolute;
	top: 55%;
	left: 25%;
	width: 5px;
	height: auto;
	filter: drop-shadow(0 0 10 var(--rosado));
	z-index: 1;
}
button:hover .heart-4 {
	position: absolute;
	top: 30%;
	left: 80%;
	width: 8px;
	height: auto;
	filter: drop-shadow(0 0 10 var(--rosado));
	z-index: 1;
}
button:hover .heart-5 {
	position: absolute;
	top: 25%;
	left: 115%;
	width: 15px;
	height: auto;
	filter: drop-shadow(0 0 10 var(--rosado));
	z-index: 1;
}
button:hover .heart-6 {
	position: absolute;
	top: 5%;
	left: 60%;
	width: 5px;
	height: auto;
	filter: drop-shadow(0 0 10 var(--rosado));
	z-index: 1;
}
